<h1>
	This is challenge <%= challenge[:challengeid] %>
	(<%= challenge[:name] %>)
</h1>
<p>This challenge is not active</p>
<form class="small-form" action="/activatechallenge" method="post">
	<input type="hidden" name="challengeid"
		value="<%= challenge[:challengeid] %>">
	<input type="submit" value="Activate">
</form>
<h2>Description</h2>
<p><%= challenge[:description] %></p>
<h2>Example</h2>
<p><%= challenge[:example] %></p>
<h2>Example Answer</h2>
<p><%= challenge[:example_answer] %></p>
<form method="post" action="">
	<input type="hidden" name="challengeid"
		value="<%= challenge[:challengeid] %>">
	<textarea name="answer"></textarea>
	<input type="submit" value="Submit">
</form>
<h2>Solved by:</h2>
<p>
	<% challenge.users.each do |user| %>
		<%= user[:email] %> ||
	<% end %>
</p>