<form action="addcourse" method="post">
	<p>Course ID</p>
	<input type="number" name="courseid"
		value="<%= default_courseid %>">
	<p>Course name<p>
	<input type="text" name="name"></textarea>
	<p>Course description (latex should be available)</p>
	<textarea name="description"></textarea>
	<p>Course readings</p>
	<textarea name="readings"></textarea>
	<p>Initial related challenges</p>
	<textarea name="challenges"></textarea>
	<input type="submit" value="Submit">
</form>