<h1>Add a challenge</h1>
<p>Follow the instructions as defined in the <a href="/help">help</a> page to submit a new challenge</p>
<form action="submitchallenge" method="post">
	<div class="form-element">
		<label>Challenge ID</label>
		<input type="number" name="challengeid"
			value="<%= default_challengeid %>">
	</div>
	<div class="form-element">
		<label>Challenge name</label>
		<input type="text" name="name">
	</div>
	<div class="form-element">
		<label>Challenge description</label>
		<textarea class="textarea-big" name="description"></textarea>
	</div>
	<div class="form-element">
		<label>Challenge tags (separate by commas)</label>
		<input type="text" name="tags">	
	</div>
	<div class="form-element">
		<label>Challenge readings</label>
		<textarea class="textarea-big" name="readings"></textarea>
	</div>	
	<div class="form-element">
		<label>Example</label>
		<textarea class="textarea-big" name="example"></textarea>
	</div>
	<div class="form-element">
		<label>Example Answer</label>
		<textarea name="example_answer"></textarea>
	</div>
	<div class="form-element">
		<label>Answer</label>
		<textarea name="answer"></textarea>
	</div>
	<div class="form-element">
		<input type="submit" value="Submit">
	</div>
</form>