<h1>Admin panel</h1>
<a href='/addchallenge'>Add new challenge</a>
<a href='/inactivechallenges'>Inactive challenges</a>
<a href='/managecourses'>Manage courses</a>
<a href='/manageusers'>Manage users</a>