<h1>Challenges</h1>
<form class="small-form" id="search-challenges" action="" method="get">
	<div class="form-element">
		<label for="search">Search</label>
		<input type="text" name="query">
	</div>
	<div class="form-element">
		<label for="search-by">Search by:</label>
		<input type="radio" name="search-by" value="name" checked>name</input>
		<input type="radio" name="search-by" value="tag">tag</input>
	</div>
	<div class="form-element">
		<input type="submit" value="Search">
	</div>
</form>
<% if challenges.length >= 1 %>
	<ul class="contentlist">
		<% challenges.each do |challenge| %>
		<li>
			<a href="/challenge/<%= challenge[:challengeid]%>">
				<%= challenge[:name]%>
			</a>
		</li>
		<% end %>
	</ul>
<% else %>
	<p>No challenges matched your search</p>
<% end %>
