<h1>Course: <%= course[:name] %></h1>
<h2>Description</h2>
<p><%= course[:description] %></p>
<h2>Related challenges</h2>
<p>
<% course.challenges.each do |challenge|%>
	<a href="/challenge/<%= challenge[:challengeid] %>"><%= challenge[:challengeid] %> (<%= challenge[:name] %>)</a>,
<% end %>
</p>
<% if is_logged_in_user? and is_registered?(User.where(email: session[:user]).first, course) %>
	<p>You are already registered on this course</p>
<% else %>
	<form method="post" action="">
		<input type="submit" value="Register course"/>
	</form>
<% end %>
<h2>Users completed this course</h2>
<ul>
	<% users_completed.each do |user| %>
		<li>
			<%= user[:email] %>
		</li>
	<% end %>
</ul>
<h2>Registered users</h2>
<p>
	<% course.users.each do |user| %>
		<%= user[:email] %> ||
	<% end %>
</p>