<h1>Courses</h1>
<form class="small-form" id="search-courses" action="" method="get">
	<div class="form-element">
		<label for="search">Search</label>
		<input type="text" name="query">
	</div>
	<div class="form-element">
		<label for="search-by">Search by:</label>
		<input type="radio" name="search-by" value="name" checked>name</input>
		<input type="radio" name="search-by" value="tag">tag</input>
	</div>
	<div class="form-element">
		<input type="submit" value="Search">
	</div>
</form>
<% if courses.length >= 1 %>
	<ul class="contentlist">
		<% courses.each do |course| %>
		<li>
			<a href="/course/<%= course[:courseid]%>">
				<%= course[:name]%>
			</a>
		</li>
		<% end %>
	</ul>
<% else %>
	<p>No courses matched your search</p>
<% end %>
