<form action="" method="post">
	<select name="users">
			<% users.each do |u| %>
				<option value="<%= u[:email]%>"><%= u[:email] %></option>
			<% end %>
	</select>
	<input type="submit", value="Delete">
</form>