<h1>Help</h1>
<div class="topic">
	<p class="question">How do i submit a new challenge?</p>
	<p class="answer">Simple</p>
</div>
<form class="small-form" action="contact" method="post">
	<h2>Contact Form</h2>
	<span class="form-element">
		<label for="email">Email</label>
		<input type="text" placeholder="Enter Email" name="email" required>
	</span>
	<span class="form-element">
		<label for="mmessage">Message</label>
		<textarea class="textarea-big" name="message"></textarea>
	</span>
	<span class="form-element">
		<button type="submit">Send</button>
	</span>
</form>