<h1>Inactive challenges</h1>
<% if challenges.length >= 1 %>
	<ul class="contentlist">
		<% challenges.each do |challenge| %>
		<li>
			<a href="/challenge/<%= challenge[:challengeid]%>">
				<%= challenge[:challengeid] %> (<%= challenge[:name]%>)
			</a>
		</li>
		<% end %>
	</ul>
<% else %>
	<p>No inactive challenges</p>
<% end %>
