<h1>Welcome</h1>
<p>This site provides code challenges that can be completed in any programming language and validates your results. Go to <a href="/challenges">Challenges</a> to start solving, or to <a href="/courses"> Courses</a> to register to a course. If it is your first time visiting the website, you may want to visit the <a href="/help">Help</a> page or <a href="signup">Signup</a>.</p>
<!-- <div class="myList">
	<p>Recent challenges</p>
	<% recent_challenges.each do |challenge| %>
		<%= challenge[:challengeid] %> (<%= challenge[:name] %>)
	<% end %>
</div>
<div class="myList">
	<p>Popular courses</p>
	<% popular_courses.each do |course| %>
		<%= course[:name] %>
	<% end %>
</div> -->