<h1>Login</h1>
<form action="login" method="post">
	<label for="email">Email</label>
	<input type="text" placeholder="Enter Email" name="email" required>
	<label for="psw">Password</label>
	<input type="password" placeholder="Enter Password" name="psw" required>
	<button type="submit" class="signupbtn">Login</button>
</form>
<a href="/forgotpassword">Forgot password</a>