<html>
    <head>
        <title>Codepoint || Challenges</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet"  href="/css/style.css">
        <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML" async></script>
    </head>
    <body>
        <header>
            <a href="/"><img id="sitelogo" src="/img/codepointlogo.png" alt="Code point logo"></a>
            <nav id="nav">
                <ul>
                    <% if is_logged_in_user? %>
                        <li><a href="/profile">Profile</a></li>
                    <% else %>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/signup">Signup</a></li>
                    <% end %>
                    <li><a href="/challenges">Challenges</a></li>
                    <li><a href="/courses">Courses</a></li>
                    <li><a href="/topranked">Top ranked</a></li>
                    <li><a href="/submitchallenge">Submit a Challenge</a></li>
                    <li><a href="/help">Help</a></li>
                    <% if is_logged_in_user? %>
                        <li>
                            <a href="/logout">Logout</a>
                        </li>
                    <% end %>
                </ul>
            </nav>
        </header>
        <% flash.each do |key, value| %>
            <p><%= value %></p>
        <% end %>
        <div class="content">
            <%= yield %>
        </div>
        <footer>
            <p>Site created at 2018</p>
        </footer>
    </body>
</html>