<h2>Manage courses here</h2>
<h3>Existing courses</h3>
<ul>
	<% courses.each do |course| %>
		<li><%= course[:name] %></li>
	<% end %>
</ul>
<table>
	<tr>
		<td>Course ID</td>
		<td>Course name</td>
		<td>Course users</td>
		<td>Course completed users</td>
		<td>Modify course</td>
		<td>Delete course</td>
	</tr>
	<% courses.each do |course| %>
		<tr>
			<td><%= course[:courseid] %></td>
			<td><%= course[:name] %></td>
			<td><%= course[:users] %></td>
			<td><%= course[:completed_users] %></td>
			<td><a>Modify</a></td>
			<td><a>Delete course</a></td>
		</tr>
	<% end %>
</table>
<a href="/addcourse">Add new course</a>