<h1>Manage users</h1>
<h2>Active Users</h2>
<table>
  <form a>
  <% users_active.each do |user| %>
    <tr>
      <td><%= user[:email] %></td>
      <td><a href="/deactivateuser/<%=user[:userid]%>">Deactivate</a></td>
      <td><a href="/deleteuser/<%=user[:userid]%>">Delete</a></td>         
    </tr>
  <% end %>
</table>
<h2>Inactive Users</h2>
<table>
  <form a>
  <% users_inactive.each do |user| %>
    <tr>
      <td><%= user[:email] %></td>
      <td><a href="/activateuser/<%=user[:userid]%>">Activate</a></td>
      <td><a href="/deleteuser/<%=user[:userid]%>">Delete</a></td>         
    </tr>
  <% end %>
</table>