<form action="addchallenge" method="post">
	<p>Challenge description (latex should be available)</p>
	<textarea name="description"></textarea>
	<p>Example</p>
	<textarea name="example"></textarea>
	<p>Example Answer goes in the below textarea</p>
	<textarea name="example_answer"></textarea>
	<p>Answer goes in the below textarea</p>
	<textarea name="answer"></textarea>
	<input type="submit" value="Submit">
</form>