<h1>Your Profile</h1>
<p>Points earned so far: <%= user[:points] %></p>
<h2>Challenges completed</h2>
<p>
	<ul class="simple-list">
		<% user.challenges.each do |challenge|%>
			<li>
				<a href="/challenge/<%= challenge[:challengeid] %>"><%= challenge[:challengeid] %> (<%= challenge[:name] %>)
				</a>
			</li>
		<% end %>
	</ul>
</p>
<h2>Courses completed</h2>
<ul>
	<% courses_complete.each do |course|%>
		<li>
			<a href="/course/<%= course[:courseid] %>"><%= course[:courseid] %> (<%= course[:name] %>)
			</a>
		</li>
	<% end %>
</ul>
<h2>Courses not completed (but registered)</h2>
<ul>
	<% courses_incomplete.each do |course|%>
		<li>
			<a href="/course/<%= course[:courseid] %>"><%= course[:name] %>
			</a>
		</li>
	<% end %>
</ul>