<h1>Sign up</h1>
<form action="signup" method="post">
	<span class="form_element">
		<label for="email">Email</label>
		<input type="text" placeholder="Enter Email" name="email" required>
	</span>
	<span class="form_element">
		<label for="psw">Password</label>
		<input type="password" placeholder="Enter Password" name="psw" required>
	</span>
	<span class="form_element">
		<button type="submit" class="signupbtn">Sign Up</button>
	</span>
</form>