body {
  font-family: Arial, Helvetica, sans-serif;
	background-color: #277554;
}

.content {
  border-radius: 25px;
	max-width: 800px;
	margin:auto;
  padding: 0px 15px 10px 15px;
	background-color: #75AF96;
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
	display: block;
}

header #sitelogo {
	float:left;
	height:10%;
}

#nav {
  margin-top:0px;
    padding:0 10px 10px 10px;
    font-style: italic;
    overflow: hidden;
    background-color: #75AF96;
    border-radius: 10px;
}

#nav li {
  margin:0px 10px;
	float: left;
	padding:0 16px 0px 16px;
	text-align: center;
	display: block;
  color: white;
  transition: 0.1s;
  font-size: 1.20em;
  text-decoration: italic;
  border-radius: 10px;
  border-bottom: 5px solid #699D99;
}

#nav li:hover {
  background-color: #3e8e41;
  color: white;
      border-radius: 10px;
  border-bottom: 5px solid #236964;
}

form {
  border-radius: 10px;
  margin:20px;
  padding: 16px;
  background: #A6CFBE;
	}

form input[type=text], input[type=password], input[type=number]{
	display: block;
}

.form-element {
  margin-bottom: 10px;
}

textarea {
  display: block;
}

.textarea-big {
  width: 50%;
  height: 150px;
}

.small-form {
  display:inline-block;
}

.small-form .textarea-big {
  min-width: 400px;
}

.contentlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
.contentlist li {
  padding:10px;
  border-radius: 20px;
  font: 200 16px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
 
.contentlist li:last-child {
  border: none;
}
 
.contentlist li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
.contentlist li a:hover {
  font-size: 18px;
  border-radius: 10px;
  background: #f6f6f6;
}